body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

#resultBox {
    margin-top: 15px;
}

.weak{color: red; }
.medium{color: orange; }
.strong{color: green; }